    <!-- BANNER SECTION  -->
    <div class="banner">
        <div class="width-container">
             <div class="banner-box">
                <div class="width-row">
                         <div class="banner-content">
                             <div class="banner-vector"><img src="img/sparkle.png" alt=""></div>
                             <h1 class="heading-h1">A legacy of luxury  </h1>
                             <p class="banner-p">Conveys a sense of heritage and high-end luxury appealing to those who appreciate tradition 
                                and quality 
                                </p>
                              <button class="banner-button"><a href="#" class="button-a">View Collection</a></button>
                              <div class="button-arrow"><a href="#" class="Button-arrow"><i class="fa-solid fa-arrow-down arrow"></i></a></div>
                         </div>
                        <img src="{{section.settings.banner_img | image_url}}" class="banner-img" alt="">
                 </div>
             </div>
        </div>
    </div>
    
      {% schema %}
        {
          "name": "serving section",
          "settings": [
             {
              "type": "image_picker",
              "id": "bannarbackimg",
              "label": "Select Background img"
            },
            {
              "type": "image_picker",
              "id": "banner_img",
              "label": "Select banner img"
            }
          ],
           "presets": [
            {
                "name": "custom-banner"
            }
          ]
        }
      {% endschema %}

    <style>
        /* BANNER SECTION  */
        .width-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}
.banner{
    background-image: url({{section.settings.bannarbackimg |  image_url }});
    max-width: 100%;
    /* height: 100vh; */
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.banner::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f0f0f0dc;
    z-index: -1;
}
.banner .banner-box{
    z-index: 9;
}
.banner .width-66{
    width: 66%;
    /* padding: 12px ; */
}
.banner .banner-box .width-row{
    display: flex;
    align-items: center;
    justify-content: left;
}
.banner .banner-box .banner-content {
    width: 66%;
    padding:100px 0;
    z-index: 9;
}
.banner .banner-box .banner-content .heading-h1{
    font-size: 128px;
    font-family: 'Vindea';
    font-weight: 400;
}
.banner .banner-box .banner-content .banner-p{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    font-family: 'Montserrat Alternates';
    width: 60%;
    color: #777777;
    margin-bottom: 40px;
}
.banner .banner-box .banner-content .banner-button{
     font-size: 24px;
     font-family: 'Montserrat Alternates';
     background-color: #B69D62;
     padding: 10px 15px;
    border: none;
    margin-bottom: 30px;
}
.banner .banner-box .banner-content .button-a{
     text-decoration: none;
     color: #ffffff;
}
.banner .banner-box .banner-content .button-arrow{
     width: 50px; 
     height: 80px;
     background-color: #282828; 
     border-radius: 100px;
     text-align: center;
     line-height: 80px;
     margin-top: 30px;
}
.banner .banner-box .banner-content .button-arrow .arrow{
     font-size: 20px;
     border: 1px solid #ECE9EB;
     padding: 20px 10px;
     border-radius: 100px;
     color: #ECE9EB;
}

.banner .banner-img{
    max-width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: bottom;
    z-index: 1;
    top: 0;
    right: -5%;
}

    </style>