<div class="main_footer">
  <div class="main_footer1">
    <div class="footer_content1">
      <img src="https://s3-alpha-sig.figma.com/img/76fc/2dfc/f3695c9ae590ec1db22a56fe83769272?Expires=1714953600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=lZglw7KKB9FOnEilRc7zgPCqx5wKPwXni4wmJu9A1rigQ3wU3XnmoIW2pv7tPanp292fp5Sr6qvDu3OMWPMQkf7YyvclyIb02ibbW8cVTU-hL06Khf5lFOP8HNu00Rw8ri3C7T16vRYKvPlsVPIW3gxiG2MeSSZy~INiI8-UGUrnYewEC5mGinYKCm8J0RCiXVXY65F818tvk8cCjTLVNrEH1LtE9iK85VRMQjz8udlGnl8ckzn-0F8UZNv2GfTK8id6X~Qy8A4mJA5yrhrUc4asDxcQxLhfOf5E0h3iSfvVe38kMFBcLrIjoiMX6c2QYVvDo1XiBqgrZAzeEIiuMQ__" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec turpis orci lectus maecenas. Suspendisse sed magna eget nibh in turpis. Consequat duis diam lacus arcu. Faucibus venenatis felis id augue sit
      </p>
    </div>
    <div class="footer_content2">
      <p>UseFul Link</p>
      <ul>
        <li>Engagement Rings</li>
        <li>Wedding Bands</li>
        <li>Fine Jewelry</li>
        <li>Customization</li>
        <li>Blogs</li>
        <li>About us</li>
      </ul>
    </div>
    <div class="footer_content3">
      <p>Policies & Services</p>
      <ul>
        <li>Terms Of Services</li>
        <li>Privacy Policy</li>
        <li>Shiping Policy</li>
        <li>Warranty & Repair Policy</li>
        <li>Return & Exchange Policy</li>
        <li>Cancellation Policy</li>
      </ul>
    </div>
    <div class="footer_content4">
      <div class="content4_paragraph">
        <p>Contact Details</p>
      </div>
      <div class="content4_location">
        <img src="https://cdn-icons-png.flaticon.com/128/484/484167.png" alt="">
        <p>Houston, Texas 77039, <br> united States</p>
      </div>
      <div class="content4_address">
        <img src="https://cdn-icons-png.flaticon.com/128/3059/3059474.png" alt="">
        <p>sales.gemroyals@gmail.com</p>
      </div>
      <div class="content4_image">
        <img src="https://cdn-icons-png.flaticon.com/128/2168/2168281.png" alt="">
        <img src="https://cdn-icons-png.flaticon.com/128/5969/5969020.png" alt="">
        <img src="https://cdn-icons-png.flaticon.com/128/3669/3669688.png" alt="">
        <img src="https://cdn-icons-png.flaticon.com/128/1384/1384014.png" alt="">
        <img src="https://cdn-icons-png.flaticon.com/128/1384/1384015.png" alt="">
      </div>
    </div>
  </div>
</div>


{%- schema -%}

  {
    "name": "Footer_botton",
    "settings": [],
    "presets": [
      {
        "name": "Footer_botton"
      }
    ]
  }
{% endschema %}


<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat + Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 &display=swap');

  * {
    margin: 0;
    padding: 0;
  }

  .main_footer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
    background: #EDE9EB;
  }

  .main_footer1 {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer_content1 {
    width: 336px;
    margin-right: 40px;
  }

  .footer_content1 img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }

  .footer_content1 p {
    font-family: Montserrat Alternates;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    line-height: 21.94px;
    text-align: left;
    color: #282828;


  }

  .footer_content2 {
    width: 25%;
  }

  .footer_content3 {
    width: 25%;
  }

  .footer_content4 {
    width: 25%;
    display: flex;
    flex-direction: column;
    text-align: left;
  }


  .content4_location {
    display: flex;
    text-align: left;
    align-items: flex-start;

  }

  .content4_location img {
    width: 23px;
    height: 23px;
    margin-right: 10px;
  }

  .content4_location p {
    font-size: 15px;
    font-family: Montserrat Alternates;

  }


  .content4_address {
    display: flex;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 5px;

  }

  .content4_address img {
    width: 23px;
    height: 23px;

    margin-right: 10px;
  }

  .content4_address p {
    font-size: 15px;
    font-family: Montserrat Alternates;

  }


  .content4_image {
    display: flex;
    align-items: center;
    width: 25%;
    gap: 18px;
  }
  .content4_image img {
    width: 23px;

  }

</style>