<div class="main_collection">
  <div class="collection">
    <div class="collection_head">
      <h1>our collection</h1>
      <p>Choosing a gemstone ring can be a meaningful and stylish choice for several reasons. Gemstones come in a wide range of colors, from deep blues to vibrant reds and sparkling greens. Each gemstone has its unique beauty and allure, allowing you to express your individual style and preferences.</p>
    </div>
    <div class="collection_box">
      <div class="content_box">
        <div class="box_image">
          <img src="" alt="">
        </div>
        <div class="box_paragraph">
          <p>Cluster Emerald Cut Red Garnet Engagement Ring</p>
          <h6>
            <span>₹ 21,263.32</span>₹ 19,155.84</h6>
          <button>Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>


{%- schema -%}
  {
    "name": "collection",
    "settings": [],
    "presets": [
      {
        "name": "collection"
      }
    ]
  }
{% endschema %}


<style>
  * {
    margin: 0;
    padding: 0;
  }
  .main_collection {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
</style>