<div class="our-mission">
  <div class="width-container">
    <div class="width-row">
      <div class="width-box-33">
        <div class="our-mission-content">
          <h1 class="ourmission-h1">{{section.settings.ourmission_h1}}</h1>
          <p class="ourmission-p">{{section.settings.ourmission_p}}</p>
        </div>
      </div>
      <div class="width-box-66">
        <div class="our-grid-vector-box">
            {%- for block in section.blocks -%}
          <div class="grid-vector-box">
            {% if block.settings.our_img != blank %}
            <div class="vector-img"><img src="{{ block.settings.our_img  |  img_url: 'master'}}" /></div>
            {% endif %}
            <div class="vector-content">
                <p class="vector-p">{{block.settings.our_content}}</p>
            </div>
          </div>
           {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "our mission section",
  "settings": [
    {
      "type": "richtext",
      "id": "ourmission_h1",
      "label": "Add heading text"
    },
    {
      "type": "text",
      "id": "ourmission_p",
      "label": "Add content text"
    }
  ],
  "blocks": [
    {
      "name": "Add mission",
      "type": "img",
      "settings": [
         {
            "type": "image_picker",
            "id": "our_img",
            "label": "Select mission img"
         },
         {
            "type": "text",
            "id": "our_content",
            "label": "Select mission content"
         }
      ]
    }
  ],
  "presets": [
    {
      "name": "Our mission section"
    }
  ]
}
{% endschema %}

<style>
  .width-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .width-box-33 {
    width: 33%;
    padding: 15px;
  }
  .width-box-66 {
    width: 66%;
    padding: 15px;
  }
  .our-mission {
    padding: 80px 0;
    background-color: #ede9eb;
  }
  .ourmission-h1 {
    font-size: 64px;
    font-family: 'Vindea' !important;
    line-height: 83.43px;
  }
  .our-grid-vector-box {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
  }
  .grid-vector-box{
    transition:all 0.5s;
  }
  .grid-vector-box:hover .vector-img{
    filter: grayscale(0);
  }
  .grid-vector-box:hover .vector-p{
    filter: grayscale(0);
  }
  .vector-img{
    filter: grayscale(1);
    transition:all 0.5s;
  }
  .grid-vector-box {
    padding: 30px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 10px 13px;
    /* grid-column: 4/1; */
  }
  .vector-p{
    font-family: 'Montserrat Alternates';
    font-size: 16px;
    line-height: 36px;
    margin-top: 20px !important;
    margin: 0;
    color: #B69D62;
    filter: grayscale(1);
    transition:all 0.5s;
  }

  @media (max-width:1024px) {
    .grid-vector-box {
    padding: 20px 10px;
    }
    .vector-p{
      font-size: 14px;
    }
  }
  @media (max-width:768px) {
    .our-grid-vector-box {
    grid-template-columns: repeat(2,1fr);
  }
  .ourmission-h1 {
    font-size: 50px;
  }
  
  }
  @media (max-width:576px) {
    .our-mission {
    padding: 40px 0;
  }
    .width-box-33 {
    width: 100%;
  }
  .width-box-66 {
    width: 100%;
  }
  .ourmission-h1{
    font-size: 40px;
    text-align: center;
  }
  .ourmission-p{
    text-align: center;
  }
  }
  @media (max-width:320px) {
    .our-grid-vector-box {
    grid-template-columns: repeat(1,1fr);
  }
  }
</style>
