<div class="main_collection">
  <div class="collection">
    <div class="collection_head">
      <h1>our collection</h1>
      <p>Choosing a gemstone ring can be a meaningful and stylish choice for several reasons. Gemstones come in a wide range of <br> colors, from deep blues to vibrant reds and sparkling greens. Each gemstone has its unique beauty and allure, allowing <br> you to express your individual style and preferences.</p>
    </div>
    <div class="box_content_1">
      <div class="swiper mySwipercollection">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="collection_box">
              <div class="content_box">
                <div class="box_image">
                  <img src="https://s3-alpha-sig.figma.com/img/bce9/882d/c4386e9f1dcf0c7841f89d03b02894d8?Expires=1715558400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=gdRENxcmrOBRS3JGx5arhes9QP7FrBgUU90fGqS0SJzr40mfqxl3GmheZJEzDeiKBcVktgQfWwJ6lUccjYC9N6m5~waHj9kn-1JfU5C~dNGKr4LMytm7v4552BFH7gwZPkHf3WuRzvG~F47BnJztzfowU6N~8~C9EgM88vsswUYdM7RRp1dxdwyYUPPx~jozBwhMBxp0YR-f4KgQW~Ti4XydMTFxsDQeD7pAMu2fI290KGzQS4FW9tHl1EDppVS7UeArE3Kgb-72xd5OWbPOrV8T7xH1TnuO6v--Zg497hdim7NDCipAVFEUDCkC9GEBOqpsFXK3axqYpWgXBNrKYg__" alt="">
                </div>
                <div class="box_paragraph">
                  <p>Cluster Emerald Cut Red Garnet <br> Engagement Ring</p>
                  <h6>
                    <span>₹ 21,263.32</span>₹ 19,155.84</h6>
                  <button>Add to cart</button>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="collection_box">
              <div class="content_box">
                <div class="box_image">
                  <img src="https://s3-alpha-sig.figma.com/img/bce9/882d/c4386e9f1dcf0c7841f89d03b02894d8?Expires=1715558400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=gdRENxcmrOBRS3JGx5arhes9QP7FrBgUU90fGqS0SJzr40mfqxl3GmheZJEzDeiKBcVktgQfWwJ6lUccjYC9N6m5~waHj9kn-1JfU5C~dNGKr4LMytm7v4552BFH7gwZPkHf3WuRzvG~F47BnJztzfowU6N~8~C9EgM88vsswUYdM7RRp1dxdwyYUPPx~jozBwhMBxp0YR-f4KgQW~Ti4XydMTFxsDQeD7pAMu2fI290KGzQS4FW9tHl1EDppVS7UeArE3Kgb-72xd5OWbPOrV8T7xH1TnuO6v--Zg497hdim7NDCipAVFEUDCkC9GEBOqpsFXK3axqYpWgXBNrKYg__" alt="">
                </div>
                <div class="box_paragraph">
                  <p>Cluster Emerald Cut Red Garnet <br> Engagement Ring</p>
                  <h6>
                    <span>₹ 21,263.32</span>₹ 19,155.84</h6>
                  <button>Add to cart</button>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="collection_box">
              <div class="content_box">
                <div class="box_image">
                  <img src="https://s3-alpha-sig.figma.com/img/bce9/882d/c4386e9f1dcf0c7841f89d03b02894d8?Expires=1715558400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=gdRENxcmrOBRS3JGx5arhes9QP7FrBgUU90fGqS0SJzr40mfqxl3GmheZJEzDeiKBcVktgQfWwJ6lUccjYC9N6m5~waHj9kn-1JfU5C~dNGKr4LMytm7v4552BFH7gwZPkHf3WuRzvG~F47BnJztzfowU6N~8~C9EgM88vsswUYdM7RRp1dxdwyYUPPx~jozBwhMBxp0YR-f4KgQW~Ti4XydMTFxsDQeD7pAMu2fI290KGzQS4FW9tHl1EDppVS7UeArE3Kgb-72xd5OWbPOrV8T7xH1TnuO6v--Zg497hdim7NDCipAVFEUDCkC9GEBOqpsFXK3axqYpWgXBNrKYg__" alt="">
                </div>
                <div class="box_paragraph">
                  <p>Cluster Emerald Cut Red Garnet <br> Engagement Ring</p>
                  <h6>
                    <span>₹ 21,263.32</span>₹ 19,155.84</h6>
                  <button>Add to cart</button>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="collection_box">
              <div class="content_box">
                <div class="box_image">
                  <img src="https://s3-alpha-sig.figma.com/img/bce9/882d/c4386e9f1dcf0c7841f89d03b02894d8?Expires=1715558400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=gdRENxcmrOBRS3JGx5arhes9QP7FrBgUU90fGqS0SJzr40mfqxl3GmheZJEzDeiKBcVktgQfWwJ6lUccjYC9N6m5~waHj9kn-1JfU5C~dNGKr4LMytm7v4552BFH7gwZPkHf3WuRzvG~F47BnJztzfowU6N~8~C9EgM88vsswUYdM7RRp1dxdwyYUPPx~jozBwhMBxp0YR-f4KgQW~Ti4XydMTFxsDQeD7pAMu2fI290KGzQS4FW9tHl1EDppVS7UeArE3Kgb-72xd5OWbPOrV8T7xH1TnuO6v--Zg497hdim7NDCipAVFEUDCkC9GEBOqpsFXK3axqYpWgXBNrKYg__" alt="">
                </div>
                <div class="box_paragraph">
                  <p>Cluster Emerald Cut Red Garnet <br> Engagement Ring</p>
                  <h6>
                    <span>₹ 21,263.32</span>₹ 19,155.84</h6>
                  <button>Add to cart</button>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="collection_box">
              <div class="content_box">
                <div class="box_image">
                  <img src="https://s3-alpha-sig.figma.com/img/bce9/882d/c4386e9f1dcf0c7841f89d03b02894d8?Expires=1715558400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=gdRENxcmrOBRS3JGx5arhes9QP7FrBgUU90fGqS0SJzr40mfqxl3GmheZJEzDeiKBcVktgQfWwJ6lUccjYC9N6m5~waHj9kn-1JfU5C~dNGKr4LMytm7v4552BFH7gwZPkHf3WuRzvG~F47BnJztzfowU6N~8~C9EgM88vsswUYdM7RRp1dxdwyYUPPx~jozBwhMBxp0YR-f4KgQW~Ti4XydMTFxsDQeD7pAMu2fI290KGzQS4FW9tHl1EDppVS7UeArE3Kgb-72xd5OWbPOrV8T7xH1TnuO6v--Zg497hdim7NDCipAVFEUDCkC9GEBOqpsFXK3axqYpWgXBNrKYg__" alt="">
                </div>
                <div class="box_paragraph">
                  <p>Cluster Emerald Cut Red Garnet <br> Engagement Ring</p>
                  <h6>
                    <span>₹ 21,263.32</span>₹ 19,155.84</h6>
                  <button>Add to cart</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
{%- schema -%}
  {
    "name": "collection",
    "settings": [],
    "presets": [
      {
        "name": "collection"
      }
    ]
  }
{% endschema %}
<style>
  * {
    margin: 0;
    padding: 0;
  }
  .main_collection {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px 0;
  }

  .collection {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .collection_head {
    width: 100%;
    height: auto;
    text-align: center;
  }

  .collection_head h1 {
    font-family: 'Vindea';
    font-size: 78px;
    font-weight: 400;
    line-height: 100px;
    text-align: center;
  }

  .collection_head p {
    font-family: 'Montserrat Alternates';
    font-size: 16px;
    font-weight: 500;
    line-height: 26.07px;
    text-align: center;
  }

  .collection_box {
    width: 375px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #F9F9F9;
    gap: 10px;
  }
  .content_box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .box_image {
    width: 355px;
    height: 280px;
  }
  .box_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .box_paragraph {
    gap: 5px;
  }

  .box_paragraph p {
    font-family: 'Montserrat Alternates';
    font-size: 15px;
    font-weight: 600;
    line-height: 24.38px;
    text-align: center;
    color: #282828;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .box_paragraph h6 {
    font-family: 'Montserrat Alternates';
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    text-align: center;
    color: #282828;
    margin: 13px 0;
  }

  .box_paragraph span {
    color: gray;
    text-decoration: line-through;
    margin-right: 8px;
  }
  .box_paragraph button {
    font-family: 'Montserrat Alternates';
    font-size: 16px;
    font-weight: 500;
    line-height: 34px;
    text-align: center;
    padding: 5px 45px;
    background-color: #F9F9F9;
    color: #282828;
  }
  .box_paragraph button:hover {
    background-color: #282828;
    color: #F9F9F9;
  }
</style>

<script>
    var swiper = new Swiper(".mySwipercollection", {
    slidesPerView: 3,
    loop:true,
    spaceBetween: 30,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    breakpoints :{
      990:{
        slidesPerView: 3,
        spaceBetween: 30,
      }   
    }
  });
</script>