<div class="custom_main">
  <div class="custom_main_1">
    <div class="sec_para"></div>
    <div class="image_slider">
      <div class="slider_1">
        <div>
          <img src="" alt="">
        </div>
        <div>
          <h1>Contact Us</h1>
          <p>Start by envisioning your dream design. Share your inspiration with Zen Moissanite jewelry experts who will guide you through the process of designing your custom piece. At this stage, our team will suggest design details and customizations based on your preferences and prepare simple mock up designs.</p>
          <h2>INQUIRY</h2>
        </div>
      </div>
    </div>
  </div>
</div>


{%- schema -%}
  {
    "name": "Custom_Process",
    "settings": [],
    "presets": [
      {
        "name": "Custom_Process"
      }
    ]
  }
{% endschema %}