<div class="sec_para">
  <h1>Custom Process</h1>
  <p>Learn more about how to customize a moissanite ring that you will love for a lifetime.</p>
</div>
<div class="image_slider">
  <div class="swiper myprocessSwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="slider_1">
          <div class="img_section_slider">
            <img src="https://s3-alpha-sig.figma.com/img/33d5/02f9/0b7f1dffb18224d0b1135dc538599489?Expires=1715558400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nyiJWymTamSPJ1DaUHPW0B7-2RnUSTZX8zJ0~AYzxvjSQ~0XlZjuhtadXIOHEfOhN6FnLgJKrYS1sqgwGkYUERF1JQBW5Dccep2CXjb5sRR440NyuK7zzA4ikx-Tt3MI0Orhs6YTICvo2-f9GEs1KrzpXHwpARuSiiEUsWib55Nb9biNjat7~MttQAXKCZVjbqRsrXLCn0OqyMmo3f--wJ3d5RQ1RtpVoTyP~K7ORY1GFwd5GFY7PIHk-yTDXGuWIqF56JlwJmM2d3OC58f4MVhlAPxsYTRYAfQ6ztfFzCbgaMtaOIVaeaG2PPFDOaq1y8whe7QAd8PbLCHNn--9dA__" alt="">
          </div>
          <div class="para_section_slider">
            <h1>Contact Us</h1>
            <p>Start by envisioning your dream design. Share your inspiration with Zen Moissanite jewelry experts who will guide you through the process of designing your custom piece. At this stage, our team will suggest design details and customizations based on your preferences and prepare simple mock up designs.</p>
            <h2>INQUIRY</h2>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slider_1">
          <div class="img_section_slider">
            <img src="https://s3-alpha-sig.figma.com/img/33d5/02f9/0b7f1dffb18224d0b1135dc538599489?Expires=1715558400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nyiJWymTamSPJ1DaUHPW0B7-2RnUSTZX8zJ0~AYzxvjSQ~0XlZjuhtadXIOHEfOhN6FnLgJKrYS1sqgwGkYUERF1JQBW5Dccep2CXjb5sRR440NyuK7zzA4ikx-Tt3MI0Orhs6YTICvo2-f9GEs1KrzpXHwpARuSiiEUsWib55Nb9biNjat7~MttQAXKCZVjbqRsrXLCn0OqyMmo3f--wJ3d5RQ1RtpVoTyP~K7ORY1GFwd5GFY7PIHk-yTDXGuWIqF56JlwJmM2d3OC58f4MVhlAPxsYTRYAfQ6ztfFzCbgaMtaOIVaeaG2PPFDOaq1y8whe7QAd8PbLCHNn--9dA__" alt="">
          </div>
          <div class="para_section_slider">
            <h1>Contact Us</h1>
            <p>Start by envisioning your dream design. Share your inspiration with Zen Moissanite jewelry experts who will guide you through the process of designing your custom piece. At this stage, our team will suggest design details and customizations based on your preferences and prepare simple mock up designs.</p>
            <h2>INQUIRY</h2>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slider_1">
          <div class="img_section_slider">
            <img src="https://s3-alpha-sig.figma.com/img/33d5/02f9/0b7f1dffb18224d0b1135dc538599489?Expires=1715558400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nyiJWymTamSPJ1DaUHPW0B7-2RnUSTZX8zJ0~AYzxvjSQ~0XlZjuhtadXIOHEfOhN6FnLgJKrYS1sqgwGkYUERF1JQBW5Dccep2CXjb5sRR440NyuK7zzA4ikx-Tt3MI0Orhs6YTICvo2-f9GEs1KrzpXHwpARuSiiEUsWib55Nb9biNjat7~MttQAXKCZVjbqRsrXLCn0OqyMmo3f--wJ3d5RQ1RtpVoTyP~K7ORY1GFwd5GFY7PIHk-yTDXGuWIqF56JlwJmM2d3OC58f4MVhlAPxsYTRYAfQ6ztfFzCbgaMtaOIVaeaG2PPFDOaq1y8whe7QAd8PbLCHNn--9dA__" alt="">
          </div>
          <div class="para_section_slider">
            <h1>Contact Us</h1>
            <p>Start by envisioning your dream design. Share your inspiration with Zen Moissanite jewelry experts who will guide you through the process of designing your custom piece. At this stage, our team will suggest design details and customizations based on your preferences and prepare simple mock up designs.</p>
            <h2>INQUIRY</h2>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slider_1">
          <div class="img_section_slider">
            <img src="https://s3-alpha-sig.figma.com/img/33d5/02f9/0b7f1dffb18224d0b1135dc538599489?Expires=1715558400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nyiJWymTamSPJ1DaUHPW0B7-2RnUSTZX8zJ0~AYzxvjSQ~0XlZjuhtadXIOHEfOhN6FnLgJKrYS1sqgwGkYUERF1JQBW5Dccep2CXjb5sRR440NyuK7zzA4ikx-Tt3MI0Orhs6YTICvo2-f9GEs1KrzpXHwpARuSiiEUsWib55Nb9biNjat7~MttQAXKCZVjbqRsrXLCn0OqyMmo3f--wJ3d5RQ1RtpVoTyP~K7ORY1GFwd5GFY7PIHk-yTDXGuWIqF56JlwJmM2d3OC58f4MVhlAPxsYTRYAfQ6ztfFzCbgaMtaOIVaeaG2PPFDOaq1y8whe7QAd8PbLCHNn--9dA__" alt="">
          </div>
          <div class="para_section_slider">
            <h1>Contact Us</h1>
            <p>Start by envisioning your dream design. Share your inspiration with Zen Moissanite jewelry experts who will guide you through the process of designing your custom piece. At this stage, our team will suggest design details and customizations based on your preferences and prepare simple mock up designs.</p>
            <h2>INQUIRY</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="custom_main">
  <div class="custom_main_1">

    <div class="slider_dot">
      <div class="dot1">
        <div class="dot_main"></div>
        <p>Step 01</p>
        <h6>Contact Us</h6>
      </div>
      <div class="dot2">
        <div class="dot_main"></div>
        <p>Step 02</p>
        <h6>Customize Design</h6>
      </div>
      <div class="dot3">
        <div class="dot_main"></div>
        <p>Step 03</p>
        <h6>Production</h6>
      </div>
      <div class="dot4">
        <div class="dot_main"></div>
        <p>Step 04</p>
        <h6>Confirmation</h6>
      </div>
      <div class="dot5">
        <div class="dot_main"></div>
        <p>Step 05</p>
        <h6>Dispatch</h6>
      </div>
    </div>
  </div>
</div>


{%- schema -%}
  {
    "name": "Custom_Process",
    "settings": [],
    "presets": [
      {
        "name": "Custom_Process"
      }
    ]
  }
{% endschema %}


<style>
  .image_slider {
    width: 100%;
  }

  .custom_main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 30px;
    background-color: #F0F0F0;
  }

  .content_main2 {
    width: 1440px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .sec_para {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sec_para h1 {
    font-family: 'Vindea';
    font-size: 64px;
    font-weight: 400;
    line-height: 83.43px;
    text-align: center;
    margin-bottom: 25px;
    color: #282828;
  }

  .sec_para p {
    font-family: 'Montserrat Alternates';
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    margin-bottom: 40px;
    color: #777777;
  }


  .slider_1 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .slider_2 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .img_section_slider {
    width: 40%;
  }

  .img_section_slider img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .para_section_slider {
    width: 60%;
    display: flex;
    flex-direction: column;
  }

  .para_section_slider h1 {
    font-family: 'Vindea';
    font-size: 40px;
    font-weight: 400;
    color: #282828;
    line-height: 54px;
    text-align: left;
  }

  .para_section_slider p {
    font-family: 'Montserrat Alternates';
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #777777;
  }

  .para_section_slider h2 {
    font-family: 'Montserrat Alternates';
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: #B69D62;
    text-decoration: underline;
  }

  .slider_dot {
    width: 100%;
    margin-top: 90px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

  }

  .dot_main {
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
  }

  .dot1 p {
    font-family: 'Montserrat Alternates';
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin: 4px 0 7px;
  }
  .dot1 h6 {
    font-family: 'Montserrat Alternates';
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    line-height: 30px;
    text-align: left;
  }


  .dot2 p {
    font-family: 'Montserrat Alternates';
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin: 4px 0 7px;
  }
  .dot2 h6 {
    font-family: 'Montserrat Alternates';
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    line-height: 30px;
    text-align: left;
  }


  .dot3 p {
    font-family: 'Montserrat Alternates';
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin: 4px 0 7px;
  }
  .dot3 h6 {
    font-family: 'Montserrat Alternates';
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    line-height: 30px;
    text-align: left;
  }

  .dot4 p {
    font-family: 'Montserrat Alternates';
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin: 4px 0 7px;
  }
  .dot4 h6 {
    font-family: 'Montserrat Alternates';
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    line-height: 30px;
    text-align: left;
  }

  .dot5 p {
    font-family: 'Montserrat Alternates';
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin: 4px 0 7px;
  }
  .dot5 h6 {
    font-family: 'Montserrat Alternates';
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    line-height: 30px;
    text-align: left;

  }

  @media (max-width: 1203px) {
    .para_section_slider h1 {
      font-size: 30px;
    }

    .para_section_slider p {
      font-size: 14px;
    }

    .para_section_slider h2 {
      font-size: 15px;
    }
  }
</style>
<script>
  var swiper = new Swiper(".myprocessSwiper", {
    slidesPerView: 2,
    loop:true,
    spaceBetween: 30,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>