<div class="custom_main">
  <div class="custom_main_1">
    <div class="sec_para">
      <h1>Custom Process</h1>
      <p>Learn more about how to customize a moissanite ring that you will love for a lifetime.</p>
    </div>
    <div class="image_slider">
      <div class="slider_1">
        <div>
          <img src="https://s3-alpha-sig.figma.com/img/33d5/02f9/0b7f1dffb18224d0b1135dc538599489?Expires=1715558400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nyiJWymTamSPJ1DaUHPW0B7-2RnUSTZX8zJ0~AYzxvjSQ~0XlZjuhtadXIOHEfOhN6FnLgJKrYS1sqgwGkYUERF1JQBW5Dccep2CXjb5sRR440NyuK7zzA4ikx-Tt3MI0Orhs6YTICvo2-f9GEs1KrzpXHwpARuSiiEUsWib55Nb9biNjat7~MttQAXKCZVjbqRsrXLCn0OqyMmo3f--wJ3d5RQ1RtpVoTyP~K7ORY1GFwd5GFY7PIHk-yTDXGuWIqF56JlwJmM2d3OC58f4MVhlAPxsYTRYAfQ6ztfFzCbgaMtaOIVaeaG2PPFDOaq1y8whe7QAd8PbLCHNn--9dA__" alt="">
        </div>
        <div>
          <h1>Contact Us</h1>
          <p>Start by envisioning your dream design. Share your inspiration with Zen Moissanite jewelry experts who will guide you through the process of designing your custom piece. At this stage, our team will suggest design details and customizations based on your preferences and prepare simple mock up designs.</p>
          <h2>INQUIRY</h2>
        </div>
      </div>
      <div class="slider_1">
        <div>
          <img src="" alt="">
        </div>
        <div>
          <h1>Contact Us</h1>
          <p>Start by envisioning your dream design. Share your inspiration with Zen Moissanite jewelry experts who will guide you through the process of designing your custom piece. At this stage, our team will suggest design details and customizations based on your preferences and prepare simple mock up designs.</p>
          <h2>INQUIRY</h2>
        </div>
      </div>
    </div>
  </div>
</div>


{%- schema -%}
  {
    "name": "Custom_Process",
    "settings": [],
    "presets": [
      {
        "name": "Custom_Process"
      }
    ]
  }
{% endschema %}