
.width-container,.tab_section {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-width-container{
    max-width: 1650px;
    padding: 0 30px;
    margin: 0 auto;
}
.product-width-container{
    width: 100%;
    padding:50px 20px 0;
}
#shopify-section-header_2 .nt_menu>li>a{
    letter-spacing: 1px;
}
.padding-left-20{
    padding-left: 20px;
}
.padding-right-20{
    padding-right: 20px;
}
/* add for sale  tag label */
.label_style_rounded .nt_label{
    width: unset;
    height: unset;
    font-family: 'Montserrat Alternates';
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    color: #282828;
    padding: 0 11px;
    border-radius: 50px;
    background-color: #ffffff7d;
}
/* add for sale  tag label */
/* add for wishlist button */
.hover_button{
    opacity: 1;
    visibility: visible;
}
/* add for wishlist button */
/* For product description */
.product  .product-description{
    font-family: 'Montserrat Alternates';
    font-size: 14px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: left;
    color: #777777;
}
.product-description h1{
    font-family: 'Montserrat Alternates';
    font-size: 36px;
    font-weight: 700;
    line-height: 43.88px;
    text-align: left;
    color: #282828;
}
.product-description{
    padding-top: 50px;
}
/* For product description */
.price_range del{
    color: #282828;
}
.price_range ins{
    color: #777777;
}
.priceoff{
    color: #C02727;
    margin-left: 6px;
}
/* for filter */
.cat_filter  .btn_filter {
    display: none;
}
.cat_shop_wrap{
    background: #F9F9F9;
    padding: 20px;
}
.container_cat .sidebar .widget:not(:first-child) {
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid #EDE9EB;
}
.container_cat .sidebar .widget.blockid_price{
    border-top: unset;  
}
/* for filter */
/* for price */
.price ins{
    color: #282828;
}
.product-info .money{
    font-family: Montserrat Alternates;
    font-size: 18px;
    font-weight: 500;
    line-height: 24.38px;
    text-align: center;
}
.product-info  .product-title,
.products .product-info__inner h3.product-title>a{
    font-family: Montserrat Alternates;
    font-size: 14px !important;
    font-weight: 600;
    line-height: 24.38px;
    text-align: center;

}
/* for price */