{%- section 'pages_heading' -%}<div class="width-container content mt__60 mb__60">{{ page.content }}</div>
 <style>
     .content{
        font-family: 'Montserrat Alternates';
        color: #000000;
        font-size: 18px;
     }
     .content h3{
        color: #000000;
     }
 </style>